---
layout: default
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-8">
            <! -- Blog Post  -->
            <p><img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}"></p>
            <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>
            <p><csmall>{{ page.date | date: "%b %-d, %Y" }}. | By: {{ page.author }}</csmall></p>
            <!-- h6>SHARE:</h6 -->
            <p class="share">

                {% for share in site.shareSocial %}
                    <a class="btn-social btn-outline" title="{{ share.title }}" target="_blank"
                        href="{{ share.baseUrl }}{{ site.url }}{{ page.url }}">
                        <!-- href="{{ share.baseUrl }}&url={{ site.url }}{{ page.url }}&title={{ page.title }}" -->
                        <i class="fa fa-{{ share.icon }}" aria-hidden="true"></i>
                        <span class="sr-only">{{share.title}}</span>
                    </a>
                {% endfor %}
                <!--
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkesin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-tumblr"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>	--> 		
            </p>
            <!-- div class="spacing"></div -->
            {{ content }}
            <div class="container">
                <a href="{{ site.url }}{{page.main-post }}"
                type="button" class="btn btn-primary">Atras</a>
                <a href="#"
                type="button" class="btn btn-primary">Arriba</a>
            </div>
        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->